# List and its default functions

In [1]:
 # sum(list1)
    
list3 = [ 1, 2, 5, 8, 10] 
sum (list3)

26

In [3]:
#len(list)
list5 = [512, 'tomato', 'pizza',123]
len(list5)

4

In [4]:
#max(list)
list6 = [300, 600,750,1000]
max(list6)

1000

In [5]:
#min(list)
min(list6)

300

In [45]:
# print(list)
list4 = [ 1, 2, 4, 3]
print (list4)

[1, 2, 4, 3]

# Dictionary and its default functions

In [6]:
#all(dict1)
dict1={'Name':'Ram','Age':30,'occupation':'Doctor'};
print(all(dict1))
dict2={'Name':'Ram','':30,'occupation':'Doctor'};
print(all(dict2))

True
False

In [7]:
#any(dict1)
dict1={'Name':'Ram','':30,'occupation':'Doctor'};
print(any(dict1))

True

In [10]:
# len(dict)
dict1 = {'Name': 'Ram', 'Age': 30};
print ("Length : %d" % len (dict1))

Length : 2

In [14]:
#sorted(dict1)
print(sorted(dict1))

['Age', 'Name']

In [15]:
#str(dict)
dict = {'Name': 'Ram', 'Age': 30};
print ("Equivalent String : %s" % str (dict))

Equivalent String : {'Name': 'Ram', 'Age': 30}

# Sets and its default functions

In [56]:
#Add

fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'apple', 'orange', 'banana', 'cherry'}

In [59]:
#Copy

fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'apple', 'banana', 'cherry'}

In [61]:
#Discard

fruits.discard("banana")

print(fruits)

{'apple', 'cherry'}

In [62]:
#Difference

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.difference(x)

print(z)

{'google', 'microsoft'}

In [64]:
#Clear

fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

# Tuples and its default methods

In [6]:
#index

friends = ('Steve', 'Rachel', 'Michael', 'Monica')
a= friends.index('Monica')
print(a)

3

In [7]:
#count

friends = ('Steve', 'Rachel', 'Michael', 'Monica')
a= friends.count('Steve')
print(a)

1

In [85]:
 #append
    
a=[10,20,30,40]
print("origional tuple:", a) 
a.append((50,60))
print("Tuple after appending:", a)

origional tuple: [10, 20, 30, 40]
Tuple after appending: [10, 20, 30, 40, (50, 60)]

In [86]:
#len

len(a)

5

In [88]:
#max

a=[10,20,30,40]
max(a)

40

# Strings and its default methods

In [9]:
#find

friends = ('Hello, welcome here')
a= friends.find('welcome')
print(a)

7

In [11]:
#capitalize

friends = ('hello, welcome here')
a= friends.capitalize()
print(a)

Hello, welcome here

In [16]:
#count

friends = "hello, welcome here"
a= friends.count('here')
print(a)

1

In [22]:
#center

friends = "welcome"
a= friends.center(20)
print(a)

      welcome

In [23]:
#islower

friends = "Welcome"
a= friends.islower()
print(a)

False